html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.btn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 48px;
    background-color: var(--btn-bg);
    overflow: hidden;
    font-size: 2rem;
    transition: transform 0.5s ease;
    will-change: transform;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--btn-hover-bg);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s ease-out;
    z-index: -1;
}

.btn:hover::before,
.btn:focus-visible::before {
    transform: scaleX(1);
}

.btn:active {
    transform: scale(1.1);
}

.btn:focus-visible {
    outline: 4px solid var(--btn-focus-outline);
}

/* card */

.card-wrapper {
    padding: 0 100px;
    width: 100%;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--card-text);
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1766365076306-419d3349ba12?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    will-change: transform;
    transition: transform 0.5s ease;
}

.card-title {
    font-size: 2rem;
    font-weight: 500;
    will-change: opacity, transform;
}

.card-desc {
    will-change: opacity;
}

.card:hover::before {
    transform: scale(1.1);
}

@media screen and (min-width: 680px) {
    .card-wrapper {
        padding: 0 48px;
    }
    .card-title {
        opacity: 0;
        transform: translateY(10px);
        transition:
            opacity 0.3s ease,
            transform 0.3s ease-in-out 0.1s;
    }
    .card-desc {
        opacity: 0;
        transition: opacity 0.3s ease 0.2s;
    }
    .card:hover .card-title {
        opacity: 1;
        transform: none;
    }

    .card:hover .card-desc {
        opacity: 1;
    }
}

@media screen and (min-width: 980px) {
    .card-wrapper {
        perspective: 500px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .card {
        aspect-ratio: 2 / 1;
        transform-style: preserve-3d;
    }
    .card::before {
        will-change: transform, filter, box-shadow;
        transition:
            transform 0.5s ease,
            filter 0.5s ease,
            box-shadow 0.3s ease-out 0.2s;
    }
    .card-desc {
        will-change: transform;
        transition: transform 0.5s ease;
    }
    .card-wrapper:hover .card:not(:hover)::before {
        filter: brightness(0.8);
        transform: rotateY(10deg) scale3d(0.9, 1, 0.1);
        box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
    }
    .card:hover {
        z-index: 1;
    }
    .card:hover::before {
        transform: rotateY(-10deg) scale3d(0.8, 1, 0.1);
    }
    .card:hover .card-title,
    .card:hover .card-desc {
        transform: translate3d(-43px, 0, 10px);
    }
}
